[project]
	description = LizardFS is an Open Source Distributed File System licenced under GPLv3.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Marcin Sulikowski (marcinsulikowski)
[access "refs/for/refs/*"]
	read = group user/Marcin Sulikowski (marcinsulikowski)
	push = group user/Marcin Sulikowski (marcinsulikowski)
	label-Code-Review = -2..+2 group user/Marcin Sulikowski (marcinsulikowski)
	label-Verified = -1..+1 group user/Marcin Sulikowski (marcinsulikowski)
	rebase = group user/Marcin Sulikowski (marcinsulikowski)
	removeReviewer = group user/Marcin Sulikowski (marcinsulikowski)
	submit = group user/Marcin Sulikowski (marcinsulikowski)
[access "refs/heads/*"]
	read = group user/Marcin Sulikowski (marcinsulikowski)
	create = group user/Marcin Sulikowski (marcinsulikowski)
	push = +force group user/Marcin Sulikowski (marcinsulikowski)
	pushMerge = group user/Marcin Sulikowski (marcinsulikowski)
[access "refs/tags/*"]
	push = +force group user/Marcin Sulikowski (marcinsulikowski)
	pushTag = group user/Marcin Sulikowski (marcinsulikowski)
	pushSignedTag = group user/Marcin Sulikowski (marcinsulikowski)
